# Time Series in Pandas

In [84]:
import datetime

import numpy as np
np.random.seed(0)
import pandas as pd

In [85]:
def series_info(series: pd.Series) -> None:
    print(f"ndim: {series.ndim}")
    print(f"shape: {series.shape}")
    print(f"size: {series.size}")
    print(f"dtype: {series.dtype}")
    print(f"values:\n{series}\n")

In [86]:
def df_info(df: pd.DataFrame) -> None:
    print(f"ndim: {df.ndim}")
    print(f"shape: {df.shape}")
    print(f"size: {df.size}")
    print(f"dtype: {df.dtypes}")
    print(f"values:\n{df}\n")

| Concept 	| Scalar Class 	| pandas Data Type 	| Primary Creation Method 	|
|-	|-	|-	|-	|-	|
| Date times 	| Timestamp 	| datetime64\[ns\]	| to_datetime or date_range 	|
| Time deltas 	| Timedelta 	| timedelta64\[ns\] 	| to_timedelta or timedelta_range 	|
| Time spans 	| Period 	| period\[freq\] 	| Period or period_range 	|

In [87]:
ds = pd.date_range(
    "21/4/2021",
    periods=3,
    freq="H"
)

In [88]:
series_info(ds)

ndim: 1
shape: (3,)
size: 3
dtype: datetime64[ns]
values:
DatetimeIndex(['2021-04-21 00:00:00', '2021-04-21 01:00:00',
               '2021-04-21 02:00:00'],
              dtype='datetime64[ns]', freq='H')

In [89]:
series_info(ds.tz_localize("UTC"))

ndim: 1
shape: (3,)
size: 3
dtype: datetime64[ns, UTC]
values:
DatetimeIndex(['2021-04-21 00:00:00+00:00', '2021-04-21 01:00:00+00:00',
               '2021-04-21 02:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='H')

In [90]:
friday = pd.Timestamp("2018-01-05 12:00:00").tz_localize("Europe/Berlin")

print(friday)

2018-01-05 12:00:00+01:00

In [91]:
saturday = friday + pd.Timedelta("1 day")

print(saturday)

2018-01-06 12:00:00+01:00

In [92]:
num_samples = 100

dates = pd.date_range(
    "21/4/2021",
    periods=num_samples
)

df = pd.DataFrame(
    {
        "Date": dates,
        "Value": np.random.randn(num_samples)
    }
)

In [93]:
df_info(df)

ndim: 2
shape: (100, 2)
size: 200
dtype: Date     datetime64[ns]
Value           float64
dtype: object
values:
         Date     Value
0  2021-04-21  1.764052
1  2021-04-22  0.400157
2  2021-04-23  0.978738
3  2021-04-24  2.240893
4  2021-04-25  1.867558
..        ...       ...
95 2021-07-25  0.706573
96 2021-07-26  0.010500
97 2021-07-27  1.785870
98 2021-07-28  0.126912
99 2021-07-29  0.401989

[100 rows x 2 columns]

In [94]:
pd.Period("2021-05")

Period('2021-05', 'M')

In [95]:
pd.Period("2021-05", freq="D")

Period('2021-05-01', 'D')

In [96]:
dates = [
    pd.Timestamp("2021-05-01"),
    pd.Timestamp("2021-05-02"),
    pd.Timestamp("2021-05-04"),
]

ts = pd.Series(np.random.randn(3), dates)

In [97]:
series_info(ts)

ndim: 1
shape: (3,)
size: 3
dtype: float64
values:
2021-05-01    1.883151
2021-05-02   -1.347759
2021-05-04   -1.270485
dtype: float64

In [98]:
start = datetime.datetime(2021, 5, 1)
end = datetime.datetime(2021, 5, 31)

index = pd.date_range(start, end)

series_info(index)

ndim: 1
shape: (31,)
size: 31
dtype: datetime64[ns]
values:
DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12',
               '2021-05-13', '2021-05-14', '2021-05-15', '2021-05-16',
               '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20',
               '2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24',
               '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28',
               '2021-05-29', '2021-05-30', '2021-05-31'],
              dtype='datetime64[ns]', freq='D')

In [99]:
series_info(pd.date_range(start, end, freq="D"))

ndim: 1
shape: (31,)
size: 31
dtype: datetime64[ns]
values:
DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12',
               '2021-05-13', '2021-05-14', '2021-05-15', '2021-05-16',
               '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20',
               '2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24',
               '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28',
               '2021-05-29', '2021-05-30', '2021-05-31'],
              dtype='datetime64[ns]', freq='D')

In [100]:
series_info(pd.date_range('2021-05-01', '2021-05-31', freq="D"))

ndim: 1
shape: (31,)
size: 31
dtype: datetime64[ns]
values:
DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12',
               '2021-05-13', '2021-05-14', '2021-05-15', '2021-05-16',
               '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20',
               '2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24',
               '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28',
               '2021-05-29', '2021-05-30', '2021-05-31'],
              dtype='datetime64[ns]', freq='D')