# Pandas Exercise

In [9]:
import matplotlib.pyplot as plt
import numpy as np
np.random.seed(0)
import pandas as pd

In [10]:
def df_info(df: pd.DataFrame) -> None:
    return df.head(n=20).style

## Cars Auction Dataset

| Feature      | Type    | Description                                                                                                                                                                                                             |
|--------------|---------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Price        | Integer | The sale price of the vehicle in the ad                                                                                                                                                                                     |
| Years        | Integer | The vehicle registration year                                                                                                                                                                                               |
| Brand        | String  | The brand of car                                                                                                                                                                                                            |
| Model        | String  | model of the vehicle                                                                                                                                                                                                        |
| Color        | String  | Color of the vehicle                                                                                                                                                                                                        |
| State/City   | String  | The location in which the car is being available for purchase                                                                                                                                                               |
| Mileage      | Float   | miles traveled by vehicle                                                                                                                                                                                                   |
| Title Status | String  | This feature included binary classification, which are clean title vehicles and salvage insurance                                                                                                                           |
| Condition    | String  | Time                                                                                                                                                                                                                        |

In [11]:
df = pd.read_csv("../data/USA_cars_datasets.csv")

print(df.columns)

Index(['price', 'brand', 'model', 'year', 'title_status', 'mileage', 'color',
       'state', 'country', 'condition'],
      dtype='object')

In [12]:
df.head()

,price,brand,model,year,title_status,mileage,color,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552.0,silver,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146.0,blue,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,florida,usa,22 hours left

## Exercise 1

- Get the counts for the us states

## Exercise 2

- Get all cars from the state of new mexico

## Exercise 3

- Compute the mean mileage of all cars from new york

## Exercise 4

- Remove all entries where the year is below 2019

## Exercise 5

- Replace all color values by the first character of the color name
E.g.: 'blue' => 'b'